#queue_table {
    height: 25%;
}

.hidden {
    display: none;
}

#logs {
    height: 68%;
    border: green;
    overflow-y: scroll;
}


#stdout {
    height: auto;
    overflow: hidden;
}

#stderr {
    height: auto;
    overflow: hidden;
}


#stdout_tab {
    height: auto;
}

#stderr_tab {
    height: auto;
}

.green_border {
    border: green;
}

#node_buttons {
    height: 3;
    margin-bottom: 1;
}

.node_button {
    margin: 1 2;
}

.filename_label {
    border: lightblue;
}

Screen {
    scrollbar-color: blue;
    scrollbar-background: gray;
}